USE [QLDSV_TC]
GO
/****** Object:  User [GV0001    ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [GV0001    ] FOR LOGIN [GV0001    ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV01      ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [GV01      ] FOR LOGIN [GV01      ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV02      ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [GV02      ] FOR LOGIN [GV02      ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV03      ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [GV03      ] FOR LOGIN [GV03      ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV04      ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [GV04      ] FOR LOGIN [GV04      ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV05      ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [GV05      ] FOR LOGIN [GV05      ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV06      ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [GV06      ] FOR LOGIN [GV06      ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HTKN]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PKT01]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [PKT01] FOR LOGIN [PKT01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SVIEN]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE USER [SVIEN] FOR LOGIN [SVIEN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [GIANGVIEN]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE ROLE [GIANGVIEN]
GO
/****** Object:  DatabaseRole [MSmerge_268648B5BDF845069AC80DB973F4F379]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE ROLE [MSmerge_268648B5BDF845069AC80DB973F4F379]
GO
/****** Object:  DatabaseRole [MSmerge_9F2CC5D1D4D045F38E6014878F548FAF]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE ROLE [MSmerge_9F2CC5D1D4D045F38E6014878F548FAF]
GO
/****** Object:  DatabaseRole [MSmerge_B593982EA2D945ABBA11E7785723FFA8]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE ROLE [MSmerge_B593982EA2D945ABBA11E7785723FFA8]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [PKT]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE ROLE [PKT]
GO
/****** Object:  DatabaseRole [SINHVIEN]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE ROLE [SINHVIEN]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [GV0001    ]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [GV01      ]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [GV02      ]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [GV03      ]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [GV04      ]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [GV05      ]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [GV06      ]
GO
ALTER ROLE [PKT] ADD MEMBER [GV06      ]
GO
ALTER ROLE [PKT] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [PKT01]
GO
ALTER ROLE [PKT] ADD MEMBER [PKT01]
GO
ALTER ROLE [SINHVIEN] ADD MEMBER [SVIEN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_268648B5BDF845069AC80DB973F4F379]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_9F2CC5D1D4D045F38E6014878F548FAF]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B593982EA2D945ABBA11E7785723FFA8]
GO
/****** Object:  Schema [GV01      ]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE SCHEMA [GV01      ]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKY]    Script Date: 18/08/2025 12:13:15 SA ******/
CREATE TYPE [dbo].[TYPE_DANGKY] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nchar](10) NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL
)
GO
/****** Object:  View [dbo].[Get_Subscribes]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Get_Subscribes]
AS
SELECT N'Khoa CNTT' AS TENPHONG, 'ADMINISTRATOR\MSSQLSERVER3' AS TENSERVER
UNION
SELECT N'Khoa VT', 'ADMINISTRATOR\MSSQLSERVER4'
UNION
SELECT N'Kế Toán', 'ADMINISTRATOR\MSSQLSERVER5';
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_6891C26028B04FABBEC4E0B615FF5974]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [DF_DANGKY_MALTC]  DEFAULT ((0)) FOR [MALTC]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [DF_DANGKY_HUYDANGKY]  DEFAULT ((0)) FOR [HUYDANGKY]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_7833FC8FD2934D3493849D3BC3F2624A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_6FC5E3C6C99D47FC8427D7767FA6CC9A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_8A9B4CD1D0E84DA189A9BC909E5D40AA]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_3134218699284482B8D222B2F9592A8A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_82508B597956445E8C86DFAB490552D8]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_78B4E63BB57046D3A4BC663CFE1ADA4B]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_5074EF76D1094DAD92BDEEC366A3CBAD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_447F0164D0AD4D24BDA5A85A3F7A7F07]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_53D5C39D_3D82_42EF_AEE6_236C612F82B1] CHECK NOT FOR REPLICATION (([MALTC]>(46016) AND [MALTC]<=(47016) OR [MALTC]>(47016) AND [MALTC]<=(48016)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_53D5C39D_3D82_42EF_AEE6_236C612F82B1]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CHECKSOTIETHOC] CHECK  ((([SOTIET_LT]+[SOTIET_TH])%(15)=(0)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CHECKSOTIETHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FORMATMASV] CHECK  (([MASV] like '[NB][0-9][0-9][A-Z][A-Z][A-Z][A-Z][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FORMATMASV]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGEPASS]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHANGEPASS] @LOGIN nchar(10), @PASSOLD nvarchar(40), @PASSNEW nvarchar(40)
 AS
 BEGIN
	 IF EXISTS ( SELECT 1 FROM SYS.sql_logins WHERE NAME = @LOGIN )
		BEGIN
			declare @SQLSTR nvarchar(200)
			Set @SQLSTR = 'ALTER LOGIN '+@LOGIN+' WITH PASSWORD= ' +QUOTENAME(@PASSNEW,'''')+ ' OLD_PASSWORD = '+QUOTENAME(@PASSOLD,'''')
			exec(@SQLSTR)
		END
	ELSE
	   Raiserror('Sai Mật Khẩu', 12, 1)

 END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGEPASS_FOR_SV]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CHANGEPASS_FOR_SV] @LOGIN nchar(10), @PASSOLD nvarchar(40), @PASSNEW nvarchar(40)
 AS
 BEGIN
   /* Phải bỏ sp đổi mật khẩu cho sv riêng vì nếu dùng chung vs đoỏi mật khẩu của giáo viên thì bị lỗi khi đưa xuống site 3
   vì site 3 ko có mật khẩu sinh viên*/
	 IF EXISTS ( SELECT 1 FROM SINHVIEN WHERE SINHVIEN.MASV = @LOGIN AND SINHVIEN.PASSWORD = @PASSOLD )
	   BEGIN
	      UPDATE SINHVIEN
		  SET SINHVIEN.PASSWORD = @PASSNEW
		  WHERE SINHVIEN.MASV = @LOGIN
		  RETURN;
	   END
	ELSE
	   Raiserror('Sai Mật Khẩu', 12, 1)

 END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGNHAP]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_DANGNHAP]
    @TENLOGIN NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TENUSER NVARCHAR(50);
    SELECT @TENUSER = u.name
    FROM sys.sysusers u
    WHERE u.sid = SUSER_SID(@TENLOGIN);

    IF @TENUSER IS NULL
    BEGIN
        SELECT USERNAME = NULL, HOTEN = NULL, TENNHOM = NULL;
        RETURN;
    END

    DECLARE @TENNHOM NVARCHAR(128);

    -- Ưu tiên PKT nếu user thuộc PKT
    IF EXISTS (
        SELECT 1
        FROM sys.sysmembers m
        JOIN sys.sysusers u ON u.uid = m.memberuid
        JOIN sys.sysusers g ON g.uid = m.groupuid
        WHERE u.name = @TENUSER AND g.name = 'PKT'
    )
        SET @TENNHOM = 'PKT';
    ELSE
        SELECT TOP (1) @TENNHOM = g.name
        FROM sys.sysmembers m
        JOIN sys.sysusers u ON u.uid = m.memberuid
        JOIN sys.sysusers g ON g.uid = m.groupuid
        WHERE u.name = @TENUSER;

    DECLARE @HOTEN NVARCHAR(200);
    IF OBJECT_ID('dbo.GIANGVIEN') IS NOT NULL
        SELECT @HOTEN = HO + N' ' + TEN
        FROM dbo.GIANGVIEN
        WHERE MAGV = @TENUSER;

    IF @HOTEN IS NULL SET @HOTEN = @TENUSER;

    SELECT USERNAME = @TENUSER,
           HOTEN    = @HOTEN,
           TENNHOM  = ISNULL(@TENNHOM, N'');
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LOGIN_SV]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_LOGIN_SV]
@TENLOGIN NVARCHAR (50), @MASV NCHAR(10), @PASS NVARCHAR(40)
AS
BEGIN
	IF EXISTS(SELECT * FROM SINHVIEN SV WHERE SV.MASV=@MASV AND SV.PASSWORD=@PASS)
	BEGIN
		DECLARE @TENUSER NVARCHAR(50)
		SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)

		SELECT MASV=@MASV, HOTEN=(SELECT HO+ ' '+ TEN FROM SINHVIEN WHERE MASV = @MASV ),
			TENNHOM=(SELECT NAME
			FROM sys.sysusers
				WHERE UID = (SELECT GROUPUID
					FROM SYS.SYSMEMBERS
						WHERE MEMBERUID= (SELECT UID FROM sys.sysusers
							WHERE NAME=@TENUSER)))
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CHECKID] @ID NCHAR(10), @Type NCHAR(20) 
AS 
BEGIN 
    IF(@Type = 'MALOP') 
    BEGIN 
        IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.MALOP = @ID) 
            RETURN 1; 
    END 
    IF(@Type = 'MAMONHOC') 
    BEGIN 
        IF EXISTS(SELECT * FROM dbo.MONHOC AS MH WHERE MH.MAMH = @ID) 
            RETURN 1; 
    END 
    IF(@Type = 'MASV') 
    BEGIN 
        IF EXISTS(SELECT * FROM dbo.SINHVIEN WHERE dbo.SINHVIEN.MASV = @ID) 
            RETURN 1; 
    END 
    RETURN 0; 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNAME]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CHECKNAME] @Name NVARCHAR(200), @Type NVARCHAR(50) 
AS 
BEGIN 
    IF(@Type = 'TENLOP') 
    BEGIN 
        IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.TENLOP = @Name) 
            RETURN 1; 
    END 
    IF(@Type = 'TENMONHOC') 
    BEGIN 
        IF EXISTS(SELECT * FROM dbo.MONHOC WHERE TENMH = @Name) 
            RETURN 1; 
    END 
    RETURN 0; 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DKY_LTC]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DKY_LTC]
@MALTC int,
@MASV nchar(10)
AS
BEGIN 
  IF EXISTS ( SELECT * FROM DANGKY WHERE MALTC=@MALTC AND MASV=@MASV AND HUYDANGKY=1)
    BEGIN 
		UPDATE DANGKY 
		SET HUYDANGKY=0
		WHERE MALTC=@MALTC AND MASV=@MASV
	END
  ELSE
	BEGIN
		INSERT INTO DANGKY(MALTC,MASV) VALUES (@MALTC,@MASV)
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSDKMH]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_DSDKMH] @NienKhoa nchar(9), @HocKy int, @Nhom int,@MonHoc nchar(10)
as
BEGIN
declare @LOPTINCHI int
select @LOPTINCHI= MALTC 
from LOPTINCHI JOIN MONHOC ON LOPTINCHI.MAMH = MONHOC.MAMH
where LOPTINCHI.NIENKHOA = @NienKhoa AND LOPTINCHI.HOCKY = @HocKy AND LOPTINCHI.NHOM = @Nhom
AND MONHOC.MAMH = @MonHoc 
select @LOPTINCHI as LOPTC, SINHVIEN.MASV,HOTEN=HO+' '+TEN,DIEM_CC,DIEM_GK,DIEM_CK,DIEM_TK= DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6 
from DANGKY JOIN SINHVIEN ON  DANGKY.MASV = SINHVIEN.MASV
where DANGKY.MALTC = @LOPTINCHI AND HUYDANGKY = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CTDONG_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CTDONG_HOCPHI]
@MASV NCHAR(10),@NIENKHOA NCHAR(9), @HOCKY INT
AS
	BEGIN 
		SELECT NGAYDONG,SOTIENDONG FROM CT_DONGHOCPHI
		WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND @HOCKY=HOCKY
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_HOCKY]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GET_HOCKY] @NIENKHOA nchar(9)  as 
select HOCKY from LOPTINCHI where NIENKHOA= @NIENKHOA group by HOCKY
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_HOCPHI]
@MASV NCHAR(10)
AS
IF exists (select 1 from SINHVIEN a where a.MASV=@MASV)
	BEGIN 
		SELECT hp.NIENKHOA,hp.HOCKY,hp.HOCPHI, DADONG=isnull((select SUM(ct.SOTIENDONG)),0)  
		FROM 
		(select * from HOCPHI WHERE MASV=@MASV) hp left join
		(select * from CT_DONGHOCPHI WHERE MASV=@MASV) ct
		on hp.NIENKHOA=CT.NIENKHOA  AND HP.HOCKY=CT.HOCKY
		GROUP BY hp.NIENKHOA,hp.HOCKY,hp.HOCPHI
		order by hp.NIENKHOA,hp.HOCKY asc
		
	END
ELSE
  BEGIN 
    raiserror('Sinh Vien Không Tồn Tại',16,1);
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LISTLOPTINCHI_DADKI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_LISTLOPTINCHI_DADKI]
@Nienkhoa nchar(9),
@Hocky int,
@MaSV nchar(10)
as
BEGIN
	
select  MALTC,MAMH,TENMH=(select TENMH from MONHOC a where a.MAMH=ltc.MAMH),
		NHOM=ltc.NHOM, GIANGVIEN=(SELECT gv.HO+' '+gv.TEN FROM GIANGVIEN gv WHERE gv.MAGV=ltc.MAGV),
         DADANGKY=(select COUNT(*) from DANGKY dk where dk.MALTC = ltc.MALTC and (dk.HUYDANGKY =0 or dk.HUYDANGKY is null))
  from LOPTINCHI ltc
 WHERE ltc.NIENKHOA = @Nienkhoa and ltc.HOCKY = @Hocky and ltc.HUYLOP = 0 and 
 @MaSV in (select MASV from DANGKY where MALTC =ltc.MALTC and (HUYDANGKY =0 or HUYDANGKY is null))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LISTLOPTINCHI_DKI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_LISTLOPTINCHI_DKI]
@Nienkhoa nchar(9),
@Hocky int,
@MaSV nchar(10)
as
BEGIN
	
select  MALTC,MAMH,TENMH=(select TENMH from MONHOC a where a.MAMH=ltc.MAMH),
		NHOM=ltc.NHOM, GIANGVIEN=(SELECT gv.HO+' '+gv.TEN FROM GIANGVIEN gv WHERE gv.MAGV=ltc.MAGV),
         DADANGKY=(select COUNT(*) from DANGKY dk where dk.MALTC = ltc.MALTC and (dk.HUYDANGKY =0 or dk.HUYDANGKY is null))
  from LOPTINCHI ltc
 WHERE ltc.NIENKHOA = @Nienkhoa and ltc.HOCKY = @Hocky and ltc.HUYLOP = 0 and 
 @MaSV not in (select MASV from DANGKY where MALTC =ltc.MALTC and (HUYDANGKY =0 or HUYDANGKY is null))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MONHOC]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_MONHOC] @NIENKHOA varchar(9), @HOCKI int
as select a.MAMH,TENMH FROM LOPTINCHI a join (Select MAMH,TENMH from MONHOC) b on a.MAMH=b.MAMH
		 where  a.NIENKHOA= @NIENKHOA AND a.HOCKY = @HOCKI  group by a.MAMH,TENMH
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_NHOM]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GET_NHOM] 
@NIENKHOA varchar(9), @HOCKI int, @MAMH nchar(10)
as 
	select NHOM FROM LOPTINCHI 
	where @NIENKHOA = NIENKHOA AND HOCKY = @HOCKI AND MAMH = @MAMH 
	group by NHOM
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_NIENKHOA]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_GET_NIENKHOA] as 
select NIENKHOA from LOPTINCHI group by NIENKHOA
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_THONGTINSINHVIEN]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_THONGTINSINHVIEN]
@MASV nchar(10)
as
if exists (select 1 from SINHVIEN a where a.MASV=@MASV)
	BEGIN 
		select MASV,HOTEN=HO+' '+TEN,sv.MALOP,TENLOP,TENKHOA 
		from SINHVIEN sv LEFT JOIn LOP lp on sv.MALOP=lp.MALOP left join Khoa khoa on lp.MAKHOA=khoa.MAKHOA
		where MASV=@MASV
		return 1;
	END
ELSE
BEGIN
	raiserror('Sinh Vien Không Tồn Tại',16,1);
	return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETDIEMSV]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GETDIEMSV]
@MASV nchar(10)
AS
BEGIN
select NKHK=N'Học Kỳ '+ CAST(ltc.HOCKY as nvarchar(1))+N' - Năm học '+ltc.NIENKHOA,dk.MALTC,mh.TENMH,dk.DIEM_CC,dk.DIEM_GK,dk.DIEM_CK 
from DANGKY dk JOIN (select MALTC, NIENKHOA, HOCKY,MAMH FROM LOPTINCHI) ltc on dk.MALTC=ltc.MALTC 
				 JOIN (select MAMH,TenMH FROM MONHOC) mh ON ltc.MAMH = mh.MAMH
where dk.MASV=@MASV and( HUYDANGKY=0 or HUYDANGKY is NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETMAKHOA]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GETMAKHOA]
AS
BEGIN 
    select MaKhoa from Khoa
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_DKY_LTC]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_HUY_DKY_LTC]
@MALTC int,
@MASV nchar(10)
AS
BEGIN 
  IF EXISTS ( SELECT * FROM DANGKY WHERE MALTC=@MALTC AND MASV=@MASV AND (HUYDANGKY=0 OR HUYDANGKY is null))
    BEGIN 
		UPDATE DANGKY 
		SET HUYDANGKY=1
		WHERE MALTC=@MALTC AND MASV=@MASV
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEM_TONGKETCUOIKHOA_LOP]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BANGDIEM_TONGKETCUOIKHOA_LOP]
	@MALOP NCHAR(10)
	as
		SELECT DK.MASV, HOTEN,TENMH, DIEM= ROUND(MAX(DIEM_CC*0.1+DIEM_GK*0.3+DIEM_CK*0.6),1) 
		FROM  (SELECT MASV, HOTEN=HO+' '+TEN FROM SINHVIEN WHERE MALOP=@MALOP) SV,
						DANGKY DK, (SELECT MALTC, a.MAMH, TENMH FROM LOPTINCHI a, MONHOC b WHERE a.MAMH=b.MAMH) LTC
		WHERE DK.MASV=SV.MASV AND DK.MALTC=LTC.MALTC
		GROUP BY DK.MASV, HOTEN, MAMH, TENMH
		ORDER BY DK.MASV
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEMMONHOC]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SP_REPORT_BANGDIEMMONHOC]
@NienKhoa nchar(9), @HocKy int, @Nhom int,@MonHoc nchar(10)
AS

BEGIN
	declare @MALTC int
	select @MALTC= MALTC 
	from LOPTINCHI ltc
	where ltc.NIENKHOA = @NienKhoa AND ltc.HOCKY = @HocKy AND ltc.NHOM = @Nhom 
			AND ltc.MAMH= @MonHoc
	select a.MASV,HO,TEN,DIEM_CC,DIEM_GK,DIEM_CK
	from DANGKY a join (select MASV,HO,TEN from SINHVIEN) b 
				on a.MASV= b.MASV
	where a.MALTC=@MALTC and  (a.HUYDANGKY =0 or a.HUYDANGKY is NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DS_DANGKY_LOPTINCHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DS_DANGKY_LOPTINCHI]
@NienKhoa nchar(9), @HocKy int, @Nhom int,@MonHoc nchar(10)
AS

BEGIN
	declare @MALTC int
	select @MALTC= MALTC 
	from LOPTINCHI ltc
	where ltc.NIENKHOA = @NienKhoa AND ltc.HOCKY = @HocKy AND ltc.NHOM = @Nhom 
			AND ltc.MAMH= @MonHoc
	select a.MASV,HO,TEN,PHAI,MALOP
				from (select MASV from DANGKY where MALTC=@MALTC) a 
				join (select MASV,HO,TEN,IIF(PHAI='0', 'Nam', N'Nữ')as PHAI,MALOP from SINHVIEN) b 
				on a.MASV= b.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DS_LOPTINCHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_REPORT_DS_LOPTINCHI]
@Nienkhoa nchar(9),
@Hocky int
as
BEGIN
	
select  TENMH=(select TENMH from MONHOC a where a.MAMH=ltc.MAMH),
		NHOM=ltc.NHOM, GIANGVIEN=(SELECT gv.HO+' '+gv.TEN FROM GIANGVIEN gv WHERE gv.MAGV=ltc.MAGV),
        ltc.SOSVTOITHIEU, DADANGKY=(select COUNT(*) from DANGKY dk where dk.MALTC = ltc.MALTC and (dk.HUYDANGKY =0 or dk.HUYDANGKY is null))
  from LOPTINCHI ltc
 WHERE ltc.NIENKHOA = @Nienkhoa and ltc.HOCKY = @Hocky and ltc.HUYLOP = 0 
 order by TENMH, NHOM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_HOCPHI] @MALOP nchar(10), @nienkhoa nchar(9), @hocky int AS
  BEGIN
	
	IF EXISTS (SELECT 1 FROM SINHVIEN JOIN HOCPHI ON HOCPHI.MASV = SINHVIEN.MASV 
	    where SINHVIEN.MALOP = @MALOP and HOCPHI.NIENKHOA = @nienkhoa and HOCPHI.HOCKY = @hocky)
		BEGIN
			select SV.HOTEN, HP.HOCPHI, HP.sotiendadong
				from  ( SELECT MASV, SINHVIEN.HO+' '+SINHVIEN.TEN AS HOTEN
				FROM SINHVIEN
				WHERE MALOP = @MALOP) SV 
			JOIN (select HOCPHI.MASV,HOCPHI.HOCPHI, SUM(CT_DONGHOCPHI.SOTIENDONG)as sotiendadong
				from  HOCPHI LEFT OUTER join CT_DONGHOCPHI  on  CT_DONGHOCPHI.MASV = HOCPHI.MASV 
				where HOCPHI.NIENKHOA = @nienkhoa and HOCPHI.HOCKY = @hocky
				group by HOCPHI.MASV,HOCPHI.HOCPHI) HP ON HP.MASV = SV.MASV
				return 1

		END
		
	else 

		BEGIN
		   RAISERROR('Không có thông tin về học phí bạn tìm',16,2);
		   return 0;
		END 
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_PHIEUDIEM]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_REPORT_PHIEUDIEM] @MASV nchar(10) AS 
BEGIN
	if exists (select 1 from SINHVIEN a where a.MASV=@MASV)
		BEGIN
			select tmp.TENMH, DIEM= MAX(DIEM_CC*0.1+DIEM_GK*0.3+DIEM_CK*0.6)
			 from (SELECT MALTC, DIEM_CC, DIEM_CK, DIEM_GK FROM DANGKY WHERE  MASV= @MASV AND (DANGKY.HUYDANGKY =0 or DANGKY.HUYDANGKY is null ) ) DK
			  join (select LOPTINCHI.MALTC, MONHOC.TENMH
					from LOPTINCHI join MONHOC on LOPTINCHI.MAMH = MONHOC.MAMH
					where LOPTINCHI.HUYLOP = 0 ) as tmp on dk.MALTC = tmp.MALTC
			group by tmp.TENMH
			ORDER BY tmp.TENMH
		END
	Else
		BEGIN
			raiserror('Sinh Vien Không Tồn Tại',16,1);
		return 0;
END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_LTC]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEARCH_LTC] @NienKhoa nchar(9), @HocKy int, @Nhom int,@MonHoc nchar(10)
as
BEGIN
declare @LOPTINCHI int
select @LOPTINCHI= MALTC
from LOPTINCHI JOIN MONHOC ON LOPTINCHI.MAMH = MONHOC.MAMH
where LOPTINCHI.NIENKHOA = @NienKhoa AND LOPTINCHI.HOCKY = @HocKy AND LOPTINCHI.NHOM = @Nhom
AND MONHOC.MAMH = @MonHoc 

select MALTC, MONHOC.TENMH, HOTEN=GIANGVIEN.HO+' '+GIANGVIEN.TEN
from  MONHOC JOIN (LOPTINCHI JOIN GIANGVIEN ON LOPTINCHI.MAGV = GIANGVIEN.MAGV) ON LOPTINCHI.MAMH = MONHOC.MAMH
where LOPTINCHI.MALTC =  @LOPTINCHI

END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_TAOLOGIN]
    @LGNAME VARCHAR(50),
    @PASS VARCHAR(50), 
    @USERNAME VARCHAR(50),
    @ROLE VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @sql NVARCHAR(MAX)
    DECLARE @RET INT = 0
    
    BEGIN TRY
        -- 1. Kiá»ƒm tra xem login Ä‘Ă£ tá»“n táº¡i chÆ°a
        IF EXISTS (SELECT * FROM sys.server_principals WHERE name = @LGNAME)
        BEGIN
            RETURN 1  -- LOGIN NAME Bá» TRĂ™NG
        END
        
        -- 2. Táº¡o SQL Server Login
        SET @sql = 'CREATE LOGIN [' + @LGNAME + '] WITH PASSWORD = ''' + @PASS + ''', DEFAULT_DATABASE = [QLDSV_TC]'
        EXEC sp_executesql @sql
        
        -- 3. Kiá»ƒm tra xem user Ä‘Ă£ tá»“n táº¡i trong database chÆ°a
        IF EXISTS (SELECT * FROM sys.database_principals WHERE name = @USERNAME)
        BEGIN
            -- XĂ³a login vá»«a táº¡o náº¿u user bá»‹ trĂ¹ng
            SET @sql = 'DROP LOGIN [' + @LGNAME + ']'
            EXEC sp_executesql @sql
            RETURN 2  -- USER NAME Bá» TRĂ™NG
        END
        
        -- 4. Táº¡o database user
        SET @sql = 'CREATE USER [' + @USERNAME + '] FOR LOGIN [' + @LGNAME + ']'
        EXEC sp_executesql @sql
        
        -- 5. ThĂªm user vĂ o role database
        IF @ROLE IS NOT NULL AND @ROLE != ''
        BEGIN
            -- Kiá»ƒm tra xem role cĂ³ tá»“n táº¡i khĂ´ng, náº¿u khĂ´ng thĂ¬ táº¡o
            IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = @ROLE AND type = 'R')
            BEGIN
                SET @sql = 'CREATE ROLE [' + @ROLE + ']'
                EXEC sp_executesql @sql
            END
            
            -- ThĂªm user vĂ o role
            EXEC sp_addrolemember @ROLE, @USERNAME
        END
        
        -- 6. Cáº¥p quyá»n server-level (tĂ¹y chá»n)
        -- Chá»‰ cáº¥p quyá»n cáº§n thiáº¿t, khĂ´ng pháº£i SecurityAdmin
        -- EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
        
        RETURN 0  -- THĂ€NH CĂ”NG
        
    END TRY
    BEGIN CATCH
        -- Náº¿u cĂ³ lá»—i, cleanup vĂ  return error
        IF EXISTS (SELECT * FROM sys.server_principals WHERE name = @LGNAME)
        BEGIN
            SET @sql = 'DROP LOGIN [' + @LGNAME + ']'
            EXEC sp_executesql @sql
        END
        
        -- Return error code
        RETURN 3  -- Lá»–I KHĂC
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEDIEM]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATEDIEM]
@DIEMTHI TYPE_DANGKY READONLY 
AS 
BEGIN 
	MERGE INTO DANGKY AS TARGET
	USING (SELECT MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM @DIEMTHI) AS SOURCE
	ON TARGET.MALTC = SOURCE.MALTC AND TARGET.MASV = SOURCE.MASV 
	WHEN MATCHED THEN
		UPDATE SET TARGET.DIEM_CC = SOURCE.DIEM_CC,
				   TARGET.DIEM_GK = SOURCE.DIEM_GK,
				   TARGET.DIEM_CK = SOURCE.DIEM_CK
	WHEN NOT MATCHED THEN 
		INSERT ( MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK)
		 VALUES (SOURCE.MALTC, SOURCE.MASV, SOURCE.DIEM_CC, SOURCE.DIEM_GK, SOURCE.DIEM_CK);
END 
GO
/****** Object:  StoredProcedure [dbo].[SP3_ADD_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP3_ADD_HOCPHI]
@MASV NCHAR(10),@NIENKHOA NCHAR(9), @HOCKY INT,@HOCPHI INT
AS
	IF NOT EXISTS (SELECT 1 FROM HOCPHI WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY)
		BEGIN
			INSERT INTO HOCPHI(MASV,NIENKHOA,HOCKY,HOCPHI)
			VALUES(@MASV,@NIENKHOA,@HOCKY,@HOCPHI)
		END
	ELSE
	  RAISERROR('Sinh Viên Đã Có Thông Tin Học Phí Học Kỳ Này!',16,1)
GO
/****** Object:  StoredProcedure [dbo].[SP3_DELETE_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP3_DELETE_HOCPHI]
@MASV NCHAR(10),@NIENKHOA NCHAR(9), @HOCKY INT
AS
	IF EXISTS (SELECT 1 FROM CT_DONGHOCPHI WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY)
		BEGIN

			RAISERROR('Sinh Viên Đã Đóng Học Phí! Không Thể Xóa!',16,1)
		END
	ELSE
	  BEGIN
			DELETE  FROM HOCPHI
			WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY
	  END
GO
/****** Object:  StoredProcedure [dbo].[SP3_GET_CTDONG_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP3_GET_CTDONG_HOCPHI]
@MASV NCHAR(10),@NIENKHOA NCHAR(9), @HOCKY INT
AS
	BEGIN 
		SELECT NGAYDONG,SOTIENDONG FROM CT_DONGHOCPHI
		WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND @HOCKY=HOCKY
	END
GO
/****** Object:  StoredProcedure [dbo].[SP3_GETKHOA_BYLOP]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP3_GETKHOA_BYLOP] @malop nchar(10) as
begin 
	select KHOA.TENKHOA
	from LOP join KHOA on LOP.MAKHOA = KHOA.MAKHOA
	where LOP.MALOP = @malop
end
GO
/****** Object:  StoredProcedure [dbo].[SP3_SAVE_DONG_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP3_SAVE_DONG_HOCPHI]
@MASV NCHAR(10),@NIENKHOA NCHAR(9), @HOCKY INT,
@NGAYDONG date,@SOTIENDONG INT
AS
	IF EXISTS (SELECT 1 FROM CT_DONGHOCPHI WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY AND @NGAYDONG =NGAYDONG)
		RAISERROR('Sinh Viên đã đóng học phí trong thơi gian này! \n Vui lòng kiểm tra lại',16,1)
	ELSE 
	    BEGIN
			INSERT INTO CT_DONGHOCPHI(MASV,NIENKHOA,HOCKY,NGAYDONG,SOTIENDONG)
			VALUES(@MASV,@NIENKHOA,@HOCKY,@NGAYDONG,@SOTIENDONG)
		END
GO
/****** Object:  StoredProcedure [dbo].[SP3_UPDATE_HOCPHI]    Script Date: 18/08/2025 12:13:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP3_UPDATE_HOCPHI]
@MASV NCHAR(10),@NIENKHOA NCHAR(9), @HOCKY INT,@HOCPHI INT
AS
	IF EXISTS (SELECT 1 FROM CT_DONGHOCPHI WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY)
		BEGIN
			RAISERROR('Sinh Viên Đã Đóng Học Phí! Không Thể Sửa!',16,1)
		END
	ELSE
			UPDATE HOCPHI
			SET HOCPHI=@HOCPHI
			WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY
GO
